<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Sales App</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('https://i.imgur.com/2Urvv7V.jpg');
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <div>
        <h2>Login</h2>
        <label for="uname" class="form-label"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required />
        <br />
        <label for="psw" class="form-label"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br />
        <button class="m-2" type="submit">Login</button>
        <button type="button">Register</button>
    </div>
</body>
</html>


