<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            height: 100%;
            width: 100%;
            background-image: url('https://i.imgur.com/2Urvv7V.jpg');
            background-repeat: no-repeat no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <h3 class="text-light">Welcome to the CraigsList CopyCat App!</h3>
        <form class="form-group" method="post">
            <table>
                <tr>
                    <td>
                        <label for="uname" class="form-label text-secondary"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="psw" class="form-label text-secondary"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                    </td>
                </tr>
                <tr>
                    <td class="pl-3">
                        <button class="btn btn-primary" type="submit">Login</button>
                        <button class="btn btn-secondary" type="button">Register</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>

    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br />
</body>
</html>




