body {
    height: 100%;
    color: rgb(255,255,255);
    background-color: rgb(13 11 11);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: black;
}

.navbar {
    background-color: black;
}

.search {
    display: flex;
    justify-content: space-between;
}

.a {
    margin-left: 10px;
}