@model IEnumerable<User>

<h3>Login Credentials</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>IsAdmin</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td><a href=/User/ViewUser/@user.UserID>@user.UserID</a></td>
            <td>@user.UserName</td>
            <td>@user.Password</td>
            <td>@user.IsAdmin</td>            
        </tr>

    }
</table>